pip install diffusers
pip install transformers
pip install fastcore
pip install ipdb
pip install matplotlib
pip install torch==2.0.0 torchvision==0.15.1 torchaudio==2.0.1 --index-url https://download.pytorch.org/whl/cu118
pip install fastdownload
pip install accelerate
pip install scipy